---
---

$header-bg-color-secondary:#892b3c;
$header-bg-color: #00427a;
$section-headings-color: #892b3c;

div#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div#logo img {
    width: 200px;
    padding-right: 30px;
    vertical-align: middle;
}
div#logo img#postech {
    width: 200px;
    padding-right: 0px;
    vertical-align: middle;
}
div#logo img#kaist {
    width: 180px;
    vertical-align: middle;
}

@import "{{ site.theme }}";